.chatUserCard {
    position: fixed;
    width: 310px;
    height: 108px;
    
    border: 1px solid #333;
    background-color: #F2F2F2;
}
    .chatDark .chatUserCard {
        background-color: #333;
        border-color: rgba(255, 255, 255, 0.2);
    }
    .chatUserCardUser {
        cursor: move;
        padding: 4px;
        height: 58px;
        border-bottom: 1px solid #333;
    }
        .chatDark .chatUserCardUser {
            border-bottom-color: rgba(255, 255, 255, 0.2);
        }
        
        .chatUserCardAvatar {
            display: inline-block;
        }
        .chatUserCardUsernameContainer {
            position: absolute;
            bottom: 60px;
            width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
            left: 56px;
        }
        .chatUserCardCloseButton {
            position: absolute;
            right: 4px;
            top: 4px;
            padding: 0;
        }
        .chatUserCardCloseBanControlsButton {
            position: absolute;
            right: 24px;
            top: 4px;
            padding: 0;
        }
        
    .chatUserCardControls {
        padding: 12px 4px;
        height: 50px;
    }
        .chatUserCardControls .btn {
            padding: 0 8px;
            margin-right: 4px;
            font-size: 20px;
            color: #333;
        }
    
    .chatUserCardBanControls .form-control {
        display: inline-block;
    }
    .chatUserCardBanControls .chatUserCardBanReason {
        padding: 4px 8px;
        width: 130px;
    }
    .chatUserCardBanControls .chatUserCardBanLength {
        padding: 4px 8px;
        width: 52px;
    }
    .chatUserCardBanControls .chatUserCardBanLengthMeasurement {
        width: 71px;
        padding: 4px 8px;
    }
    .chatUserCardBanControls .chatUserCardBanConfirmButton {
        width: 38px;
        margin: 0 0 4px;
    }
        .chatDark .chatUserCardBanConfirmButton .glyphicon {
            color: #333;
        }
