{% extends "main.html" %}
{% load static %}

{% block additional_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/chat_user_card.css' %}?v=2" />
<link rel="stylesheet" type="text/css" href="{% static 'styles/chat_popup.css' %}?v=2" />
{% endblock %}

{% block additional_scripts %}
<script>
    var roomName = "{{room_name}}";
</script>
<script src="{% static 'scripts/ajax_prep.js' %}"></script>
<script src="{% static 'scripts/chat_popup.js' %}"></script>
{% endblock %}

{% block page_content %}
{% include "chat.html" %}
{% endblock %}